.wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: all 1s;
}

.wrapper__container {
  position: absolute;
  width: 300%;
  display: flex;
  transition: all 1s;
  left: 0;

  img {
    position: absolute;
  }
}
.wrapper__animImg {
  left: 67%;
  position: absolute;
  img {
    z-index: 1;
  }
}
